{% extends 'base.html.twig' %}

{% block title %} Ajouter Formation {% endblock %}
{% block breadcrumb1 %} Ajouter Formation {% endblock %}
{% block breadcrumb2 %} Ajout {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 swMain"></div>
        <div class="col-md-6 swMain">
            <div class="row">
                <div  class="col-md-12">
                    <fieldset>
                        <legend>
                            Ajouter Formation
                        </legend>
                            {{ include('@Fedi/Formation/_form.html.twig') }}
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

