{% extends 'base.html.twig' %}

{% block title %}  Sessions E-learning {% endblock %}
{% block breadcrumb1 %}  Sessions E-learning {% endblock %}
{% block breadcrumb2 %} Liste {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 space20">
                    <a class="btn btn-primary pull-left" href="{{ path('afect_Form') }}">
                        Affecter Session <i class="fa fa-plus"></i></a>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                <thead>
                <tr>
                    <th class="hidden-xs left" width="30%"><strong>Session</strong></th>
                    <th class="hidden-xs center" width="60%"><strong>Coordonné Eleve</strong></th>
                    <th class="hidden-xs center" width="10%"><strong>Action</strong></th>
                </tr>
                </thead>
                <tbody>
                {% for session in sessions %}
                    <tr>
                        <td class="hidden-xs left">{{ session.name }}</td>
                        <td class="hidden-xs center">
                            {% for user in session.userElearningSessions %}
                                <span class="label label-inverse" > {{ user }}</span>
                            {% endfor %}
                        </td>
                        <td class="hidden-xs center">
                            <a class="btn btn-success btn-xs" title="Modifier"
                               href="#">
                                <span class="fa fa-edit" style="color:white"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}